body,h1,h2,h3,h4,h5,h6,button,p {
    font-family: 'Open Sans', sans-serif !important;
}
.container-fluid.container-max {
    max-width: 1260px;
    width: 100%;
}
.container-1{
   max-width: 1090px;
   width: 100%;
}
.container-2 {
    max-width: 917px;
    width: 100%;
}

.container-3 {
    max-width: 966px;
    width: 100%;
}